.sociapen-App-nav{
	position: fixed;
	padding: 0.5em 1em;
	width: 100vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--bg-color);
	border-radius: 0 0 1.25em 1.25em;
	border-bottom: 2.5px solid var(--theme-color);
}

.sociapen-App-nav *{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sociapen-App-nav img, .sociapen-App-nav svg{
	height: 100%;
	width: auto;
}

.sociapen-App-nav-logo{
	align-items: baseline;
	cursor: pointer;
}

.sociapen-App-nav-user img, .sociapen-App-nav-user svg{
	cursor: pointer;
	border-radius: 5em;
}

.sociapen-App-nav-user img:hover, .sociapen-App-nav-user svg:hover{
	opacity: 0.9;
	border: 0.15rem solid rgba(255, 255, 255, 1);
}