:root {
  --primary-color: #47381c;
  --theme-color: #f09a18;
  --bg-color: #f1e9ce;
  --fore-color: #47381c;
  --danger-color: #eb2424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Montaga";
}

*::selection {
  color: var(--fore-color);
  background-color: var(--theme-color);
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  color: var(--fore-color);
  background-color: var(--bg-color);
}

.sociapen-App-window {
  position: fixed;
  top: 10vh;
  bottom: 0;
  width: 100vw;
  height: 90vh;
}
